<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.mapper.UserMapper">
    <!-- Created by bmme on 2025/3/10 -->
    <select id="selectByPhone" resultType="com.ai.entity.User">
        SELECT * FROM bk_user WHERE phone = #{phone}
    </select>
    <select id="selectByUserName" resultType="com.ai.entity.User">
        SELECT * FROM bk_user WHERE `user_name` = #{userName}
    </select>
    <insert id="insert" parameterType="com.ai.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into bk_user (user_name, phone, avatar_url)
        values (#{name},#{phone},#{avatarUrl})
    </insert>
    <update id="update" parameterType="com.ai.entity.User">
        update bk_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName}</if>
            <if test="phone != null">phone = #{phone}</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl}</if>
            <if test="password != null">`password` = #{password} </if>
        </trim>
        where `id` = #{id}
    </update>
</mapper>